@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --red: #FC4308;
    --border-radius: 12px;
    --nav-black: #3E3232;
    --gray: #F5F5F5;
    --padding: 0px 120px;
    --gray-bold: #ECEBEB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    line-height: 1.5;
}

.editprofile__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.infor_personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    gap: 60px;
    width: 100%;
    border-right: 5px solid var(--gray);
}

.editprofile__container > div > button {
    border: none;
    padding: 10px 20px;
    background-color: var(--red);
    color: white;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 10px;
}

.infor_personal > button > ion-icon{
    font-size: 1.5rem;
}

.infor_personal__layout{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.feild_avatar{
    grid-column: 3/4;
    grid-row: 1/3;
    margin-right: 5px;
}

.feild_avatar > .feild_avatar--layout{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    background-color: var(--gray);
    border-radius: var(--border-radius);
    padding: 20px 0px;
    position: relative;
}

.feild_avatar > .feild_avatar--layout > input{
    display: none;
}

.feild_avatar > .feild_avatar--layout > label{
    padding: 10px;
    background-color: var(--gray-bold);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 5px;
}

.feild_avatar > .feild_avatar--layout > img{
    width: 60px;
    height: 60px;
}

.feild_avatar > .feild_avatar--layout > ion-icon{
    position: absolute;
    content: '';
    top: 4%;
    right: 35%;
}

.infor_personal__layout > div > input{
    margin-top: 5px;
    border: none;
    outline: none;
    padding: 15px 10px;
    background-color: var(--gray);
    width: 100%;
    border-radius: var(--border-radius);
}

.feild_changepass__layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px
}

.feild_changepass {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.feild_changepass__layout > input {
    margin-top: 5px;
    border: none;
    outline: none;
    padding: 15px 10px;
    background-color: var(--gray);
    width: 100%;
    border-radius: var(--border-radius);
}

.feild_changepass > button {
    margin-top: 40px;
}
