@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --red: #FC4308;
    --border-radius: 12px;
    --nav-black: #3E3232;
    --gray: #F5F5F5;
    --padding: 0px 120px;
    --gray-bold: #ECEBEB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    line-height: 1.5;
}

html{
    padding: 0px 80px;
    font-size: 16px;
}

.no-scroll{
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:3;
    display: none;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 24px;
    border-radius: 36px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    display: none;
}

.popup > ion-icon{
    position: absolute;
    content: '';
    top: 24px;
    right: 24px;
    font-size: 2rem
}

.popup > h2{
    color: var(--red);
}

.popup > h4{
    width: 80%;
    line-height: 1.6;
    text-align: center;
}

.popup > div{
    display: flex;
    align-items: center;
    gap: 90px;
}

.popup > div > a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 40px;
}

.popup > div > .btn_signin{
    border: 2px solid var(--red);
    border-radius: var(--border-radius);

    color: var(--red);
}

.popup > div > .btn_signup{
    background-color: var(--red);
    border-radius: var(--border-radius);
    color: white;
}

header{
    margin-bottom: 80px;
}

.navigation {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /*  */
}

.navigation > div{
    display: flex;
    align-items: center;
}

.navigation > div > div {
    font-weight: 500;
}

.navigation > div > .logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--red);
}

.navigation__left{
    gap: 40px;
}

.navigation__right{
    gap: 20px;
}

.navigation__right > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation__right--searchbar {
    gap: 10px;
    border: 1px solid var(--nav-black);
    border-radius: var(--border-radius);
    padding: 10px;
    background-color: var(--gray);
}

.navigation__right--searchbar > ion-icon{
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation__right--searchbar > input {
    outline: none;
    border: none;
    background-color: var(--gray);
}

.navigation__right--user {
    gap: 10px;
    position: relative;/***/
    display: inline-block;
}

/*Dropdown menu*/
#dropdown-toggle {
    display: none; 
}


label[for="dropdown-toggle"] {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Hi?n th? menu khi checkbox ???c ch?n */
#dropdown-toggle:checked + label + .dropdown-menu {
    display: block;
}

.navigation__right--user > img{
    max-width: 40px;
    max-height: 40px;
    border-radius: var(--border-radius);
}

.navigation__right > ion-icon {
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--gray);
}

header > .categoriespost{
    background-color: var(--gray);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
}

header > .categoriespost > ion-icon{
    font-size: 1.2rem;
    font-weight: bold;
}

.card-slider{
    overflow: hidden;
    padding: 0px 20px;
}

.slider-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.slider-card {
    position: relative;
    user-select: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: var(--border-radius);
    flex: 0 0 19.6%;
} 

.slider-card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
    z-index: 1;
}

.slider-card > a{
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: 500;
    z-index: 2;
}

.slider-card:first-child {
    background: url('../image/sport.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(2) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(3) {
    background-image: url('../image/music_post.svg');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(4) {
    background-image: url('../image/tech_post.svg');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(5) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(6) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(7) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(8) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:nth-child(9) {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}

.slider-card:last-child {
    background-image: url('../image/vanhoa.png');
    background-position: center;
    background-size: cover;
}


/* Footer */

footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.footer__left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    background-color: var(--gray);
    border-radius: 24px;
    padding: 20px;
}

.footer__left--row1{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.col-header{
    display: flex;
    align-items: center;
}

.col-header > ion-icon{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--red);
}

.col-content{
    margin-left: 20px;
}

.footer__left--row1 > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__left--row1 > div > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row1-col1 > div:nth-child(2) > .col-content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: white;
}

.row1-col1 > div:nth-child(2) > .col-content > input{
    border: none;
    outline: none;
}

.row1-col1 > div:nth-child(2) > .col-content > ion-icon{
    font-size: 1.2rem;
}

.row1-col2 > div > div > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row1-col2 > div:nth-child(2) > .col-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.row1-col2 > div:nth-child(2) > .col-content > .insta{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius);
    padding: 0px 10px;
}

.row1-col2 > div:nth-child(2) > .col-content > .insta > ion-icon{
    font-size: 1.2rem;
    color: white;
}

.row1-col2 > div:nth-child(2) > .col-content > .insta > p{
    color: white;
    margin-top: 15px;
}

.row1-col2 > div:nth-child(2) > .col-content > i {
    padding: 15px;
    border-radius: var(--border-radius);
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.footer__left--row2 {
    background-color: var(--gray-bold);
    padding: 15px 10px 0px 10px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
}

.footer__right {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer__right--col1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__right--col1 > .col-content{
    padding: 10px;
    background-color: var(--gray);
    border-radius: var(--border-radius);
}

.footer__right--col2 > .col-content{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
/*--Responsive header-*/
@media (max-width: 768px) {
    .navigation {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navigation__left {
        margin-bottom: 10px; 
    }

    .navigation__right {
        width: 100%; 
        justify-content: space-between; 
    }
}

/*--Responsive footer-*/
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
    }

    .footer__left, .footer__right {
        flex-direction: column; 
    }

    .footer__left--row1 {
        grid-template-columns: 1fr; 
    }

    .footer__right--col2 > .col-content {
        grid-template-columns: repeat(2, 1fr);
    }
}